.card{
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    background-color: rgba(242, 187, 132, 0.5);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card #tituloFilme{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    margin: 10px 0 5px 0;
    text-align: center;
}

.card p{
    color: rgb(0, 0, 0);
    text-align: center;
}